<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
<link rel="stylesheet" href="css/login.css">
</head>
<body>

	<div class="split left">
	</div>
        <div class="split right">
          <div class="login-container">
	LOGIN
<!--  <form method="post">  -->
<form class="modal-content" method="post" th:action="@{login}" th:object = ${CustomerDetails}  enctype="multipart/form-data" >
	<input type="email" id="email" name="email" placeholder="Email" required><br>
	<input type="password" id="password" name="password" placeholder="Password" required><br>
	<p th:if="${error}" th:text="${errorMessage}" class = "error"> </p>
	<button>Submit</button>
</form>
</div>
</div>
</body>
</html>