<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/restaurant.css">
</head>
<body>


<div class="card" th:each ="restaurants : ${restaurants}">

 <a th:href="@{/reserveTable(restID=${restaurants.restaurant_id})}"><img src="icons/rest1.jpg" alt="Avatar" style="width:100%"></a>
  <div class="container" th:action="@{reserveTable}" >
    <h4 th:text="${restaurants.restaurant_name}" th:value="${restaurants.restaurant_id}" id="rest_id" name = "rest_id"></h4>
  <!--   <a><input  onclick="location.href='/reserveTable'" value="RestaurantLists"  /> </a> --> 
  	<!-- <a th:href="@{/reserveTable(restID=${restaurants.restaurant_id})}"> Reserve Table </a> -->
  </div>
  


</div>


</body>
</html>
