<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>FoodBolt</title>
	<link rel="stylesheet" type="text/css" href="css/servicelogin.css"/>
</head>
<body>
	
	<div class="split left">
	</div>
        <div class="split right">
          <div class="login-container">
	RESTAURANT LOGIN
<form class="modal-content" method="post" th:action="@{addServiceProvider}" th:object = ${ServiceProvder}  enctype="multipart/form-data" >
	<input type="email" id="email" name="email" placeholder="Email" required><br>
	<input type="password" id="password" name="password" placeholder="Password" required><br>
	<button>Submit</button>
</form>
</div>
</div>
</body>
</html>