<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <title>Food Bolt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="newstyle.css" rel="stylesheet">
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
   $(document).ready(function() {
    //To hide the menu
     $(".hidediv").click(function () {
     $(".table").hide("fast",function(){
    });
   });    
});
 $(document).ready(function() {
	    //To show the menu
	     $(".showdiv").click(function () {
	     $(".table").show("fast",function(){
	    });
	   });    
	});
  
</script>

</head>
<body>

	
	<div style="position: relative;">
    <div style="position: absolute; top: 0; right: 0;">
    <p>
    <input type="button"  onclick="location.href='/logout'" value="logout" >
    </p></div>
</div>

<p  th:text="Welcome+' ' + Admin+ '!!!'"> </p> 

 <p> <button class="hidediv">Hide List</button>
  <button class="showdiv">Show List</button></p> 
            
       <div id="reservation">
        <table class="table table-striped" style="width:50%">
            <tr>
            	<!-- <th>UserID</th> -->
                
                <th>Booking Date</th>
                <th>BookingTime</th>
                <th>Status</th>
                 <th>Cancel Reservation</th>
                
            </tr>           
           <tr th:each="reservation : ${reservation}">
        
        	<!-- <td th:text="${postForAdmin.userID}" th:id ="file">UserID</td> -->
        	<td th:text="${reservation.BookingDate}">Booking Date</td>
        	<td th:text="${reservation.BookingTime}">Booking Time</td>
        	<td th:text="${reservation.status}">Status</td>
        	<td> <a th:href="@{'/cancelReservation/'+ ${reservation.BookingID}}">Cancel Reservation</a></td>
           </tr> 
        </table>
    </div>
	



</body>
</html>